@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: hsl(235, 18%, 26%);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-sign {
    width: 928px;
    height: 641px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.text {

    width: 504px;
    display: flex;
    flex-direction: column;
    padding: 94px 60px;

}

h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
    color: hsl(234, 29%, 20%);
}

.img {
    padding: 24px;
    width: 480px;
    height: 100%;

}

img {
    width: 100%;
    height: 100%;
}

li {
    margin-top: 10px;
    background: url(assets/images/icon-list.svg) left center no-repeat;
    background-repeat: no-repeat;
    line-height: 24px;
    padding-left: 35px;
    list-style: none;

}

p {
    color: hsl(235, 18%, 26%);
    margin-bottom: 10px;
}

form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;

}

label {
    font-weight: 700;
    font-size: 12px;
}

input {
    width: 100%;
    height: 60px;
    padding: 16px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid hsl(231, 7%, 60%);

}

button {
    border: none;
    font-weight: 700;
    height: 60px;
    width: 100%;
    padding: 16px;
    margin-top: 25px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(234, 29%, 20%);
    transition: 1s;
}

button:hover {
    cursor: pointer;
    background: var(--Gradient-1, linear-gradient(204deg, #FF6A3A 0%, #FF527B 100%));
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
}

.success {
    background-color: white;
    width: 504px;
    border-radius: 40px;
}

.success-content {
    padding: 46px 64px 64px;
}

.success-title {
    padding-top: 35px;
    line-height: 55px;
}

span {
    padding: 0 0 40px 0;
}

.success-p {
    line-height: 25px;
    color: hsl(235, 18%, 26%);
}

.hide {
    display: none;
}

.attribution {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
    color: blue;        
}

.attribution a {
    color: hsl(0, 98%, 43%);
    cursor: pointer;

}